In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [41]:
dataset = pd.read_csv('titanic_train.csv')  # load dataset from csv
print(dataset.info(), dataset.columns, sep='\n')    # printing column info and list of columns
print('\n head \n', dataset.head(), '\n tail \n', dataset.tail(), sep='\n') # printing head and tail of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

 head

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

 tail

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [21]:
print(dataset.sort_values('Fare'))  # sorting the dataset by fare
print(dataset.sort_values(['Fare', 'Sex']))  # sorting the dataset by fare and sex - group by fare, sort by sex

     PassengerId  Survived  Pclass                                Name  \
271          272         1       3        Tornquist, Mr. William Henry
597          598         0       3                 Johnson, Mr. Alfred
302          303         0       3     Johnson, Mr. William Cahoone Jr
633          634         0       1       Parr, Mr. William Henry Marsh
277          278         0       2         Parkes, Mr. Francis "Frank"
..           ...       ...     ...                                 ...
438          439         0       1                   Fortune, Mr. Mark
341          342         1       1      Fortune, Miss. Alice Elizabeth
737          738         1       1              Lesurer, Mr. Gustave J
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
271    male  25.0      0      0      LINE    0.0000          NaN        S
597    male  49.0      0      0      LINE    0.0000          NaN        S
302    male  19.0      0      0      LINE    0.0000          NaN        S
633    male   NaN      0      0    112052    0.0000          NaN        S
277    male   NaN      0      0    239853    0.0000          NaN        S
..      ...   ...    ...    ...       ...       ...          ...      ...
438    male  64.0      1      4     19950  263.0000  C23 C25 C27        S
341  female  24.0      3      2     19950  263.0000  C23 C25 C27        S
737    male  35.0      0      0  PC 17755  512.3292         B101        C
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C

[891 rows x 12 columns]
     PassengerId  Survived  Pclass                                Name  \
179          180         0       3                 Leonard, Mr. Lionel
263          264         0       1               Harrison, Mr. William
271          272         1       3        Tornquist, Mr. William Henry
277          278         0       2         Parkes, Mr. Francis "Frank"
302          303         0       3     Johnson, Mr. William Cahoone Jr
..           ...       ...     ...                                 ...
27            28         0       1      Fortune, Mr. Charles Alexander
438          439         0       1                   Fortune, Mr. Mark
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
737          738         1       1              Lesurer, Mr. Gustave J

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
179    male  36.0      0      0      LINE    0.0000          NaN        S
263    male  40.0      0      0    112059    0.0000          B94        S
271    male  25.0      0      0      LINE    0.0000          NaN        S
277    male   NaN      0      0    239853    0.0000          NaN        S
302    male  19.0      0      0      LINE    0.0000          NaN        S
..      ...   ...    ...    ...       ...       ...          ...      ...
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S
438    male  64.0      1      4     19950  263.0000  C23 C25 C27        S
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C

[891 rows x 12 columns]

In [58]:
print('\n\nby value\n\n', dataset[dataset['PassengerId'] == 1], sep='\n') # filter rows by value of attribute
print('\n\niloc\n\n', dataset.iloc[3:6], sep='\n')    # filter rows by index number of row

by value


   PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris  male  22.0      1

   Parch     Ticket  Fare Cabin Embarked
0      0  A/5 21171  7.25   NaN        S


iloc


   PassengerId  Survived  Pclass  \
3            4         1       1
4            5         0       3
5            6         0       3

                                           Name     Sex   Age  SibSp  Parch  \
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
4                      Allen, Mr. William Henry    male  35.0      0      0
5                              Moran, Mr. James    male   NaN      0      0

   Ticket     Fare Cabin Embarked
3  113803  53.1000  C123        S
4  373450   8.0500   NaN        S
5  330877   8.4583   NaN        Q

In [46]:
print(dataset.isnull().sum(), end='\n\n\n')   # prints how many values in each column are null
no_null = pd.read_csv('titanic_train.csv')  # temp obj
no_null.dropna(inplace=True)    # drop all null values from dataset
print(no_null.isnull().sum(), no_null.shape, dataset.shape, sep='\n\n\n', end='\n\n\n')

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64


PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64


(183, 12)


(891, 12)

In [90]:
print(dataset['Age'].isnull().sum())    # number of tuples where age is null
print(dataset['Age'].tail(), '\n\n\n')  # tail of dataset before replacing null values in age
print(dataset['Age'].replace(np.NaN, dataset['Age'].mean()).tail()) # after replacing null values in age

177
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, dtype: float64



886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, dtype: float64

In [111]:
# duplicates
duplicates = dataset.duplicated(keep='first')
print(dataset.shape, dataset[~duplicates].shape)    # dataset with duplicates, then without

(897, 12) (891, 12)